<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <script> window.__INITIAL_DATA__ = <%- result %>;</script>
    <link rel="stylesheet" href="../public/admin.css" type="text/css" />
</head>
<body>
    <h1>Admin Panel</h1>
    
    <div id="root"></div>
</body>
<script src="../public/bundle.admin.js">
   
</script>
</html>