<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservation App</title>
    <link rel="stylesheet" href="../public/index.css" type="text/css" />
   

</head>
<body>
    <header>
        <h1>RESERVATION</h1>
    </header>
    <div id="root"></div>
</body>
<script src="../public/bundle.index.js"></script>
</html>